* {
    font-family: monospace;
}

body {
    margin: 0%;
    padding: 0%;
    background-color: #F8F8FF;
}

strong {
    font-size: x-large;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
    text-align: center;
}

table,
th,
td {
    padding: 2px;
    border: 1px solid;
    border-left: 0;
    max-width: 71mm;
}

#bodyTable {
    position: absolute;
    max-width: 71mm;
    z-index: 3;
    background-color: #F8F8FF;
}

input.becomeDev {
    background-color: #009440;
    color: ghostwhite;
}

input.becomeSin {
    background-color: #ffcb00;
}

li {
    list-style: none;
    margin-bottom: 3px;
}

.etc {
    text-align: center;
    width: 55px;
    font-size: small;
    margin: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

#etcValues {
    margin: 0px;
    padding: 0px;
}

.hidden {
    display: none;
}

#loginHub {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: xx-large;
    text-align: center;
    width: 90%;
    background-color: #F8F8FF;
    z-index: 2;
    width: max-content;
}

input {
    font-weight: bolder;
    margin: 0;
    background-color: none;
}

.howTo {
    position: absolute;
    right: 0%;
    top: 0;
    border-radius: 3px;
    box-shadow: 2px 5px 20px 2px #16161D;
    padding: 0.6%;
    font-size: large;
    z-index: 1;
}

#devolucoes,
#sinais {
    font-weight: bolder;
    font-size: small;
}

#registerHub {
    font-size: x-large;
    border: 1px solid;
    width: max-content;
    padding: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 3px;
    background-color: #F8F8FF;
    z-index: 5;
}

#registerHub li {
    margin-bottom: 10px;
}

#registerHub input {
    border: 1px solid;
    border-radius: 3px;
    padding: 5px;
}

@media print {
    body {
        background-color: transparent;
    }

    .howTo,
    .becomeSin,
    .becomeDev,
    #loginHub,
    #registerHub,
    #sangria,
    #qrCheck,
    #sizes,
    #barCheck,
    #barrasValue,
    label {
        display: none;
    }

    .etc {
        margin: 0px;
    }

    table,
    th,
    td {
        border: 1px dashed;
        border-right: 0;
        border-left: 0;
        border-top: 0;
    }

    #qrTable {
        text-align: center;
    }

    #obsText {
        border: none !important;
        box-shadow: none !important;
    }

    #barrasTable {
        border: none !important;
        top: 0;
    }

    .barrasTitles {
        border: none;
    }

    ::-webkit-input-placeholder {
        color: transparent;
    }
}

h4 {
    margin: 10px;
}

#saveButton {
    padding: 6px;
    cursor: pointer;
}

#sangria {
    text-align: center;
    font-size: larger;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    outline: 3px solid #16161D;
    border-radius: 3px;
    padding: 2%;
    background-color: #F8F8FF;
    z-index: 4;
}

#sangriaTable {
    position: absolute;
    max-width: 71mm;
}

#obsText {
    width: 71mm;
    height: max-content;
    position: absolute;
    z-index: 6;
    margin-top: 5px;
    border: 1px solid;
    box-shadow: 1px 1px 1px 1px #16161D;
    left: 1%;
}

#qrTable {
    width: 71mm;
}

#barrasTable {
    border: 1px solid;
    border-radius: 3px;
    width: 71mm;
    position: absolute;
    text-align: center;
    z-index: 7;
    background-color: white;
}

.barrasTitles {
    width: 30mm;
    text-align: center;
}

#showSum {
    text-align: left;
    word-wrap: break-word;
}

/*#operCod {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 10px;
}*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.fer {
    width: 18mm;
    border-radius: 3px;
    margin-top: 3px;
}