* {
    font-family: monospace;
}

body {
    margin: 0%;
    padding: 0%;
    background-color: #F8F8FF;
}

strong {
    font-size: large;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
    text-align: center;
}

table,
th,
td {
    padding: 2px;
    border: 1px solid;
    border-left: 0;
    max-width: 71mm;
}

#bodyTable {
    position: absolute;
    max-width: 71mm;
    z-index: 3;
    background-color: #F8F8FF;
}

input.becomeDev {
    /*background-color: #009440;*/
    /*background-color: #00c756;*/
    background-color: crimson;
}

input.becomeSin {
    background-color: #ffcb00;
}

input.becomePix {
    background-color: #37b4aa;
}

input.becomeError {
    background-color: #d80013;
}

li {
    list-style: none;
    margin-bottom: 3px;
}

.etc {
    text-align: center;
    width: 55px;
    font-size: small;
    margin: 1px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 55px;
    max-width: 95%;
}

#etcValues {
    margin: 0px;
    padding: 0px;
}

.hidden {
    display: none;
}

#loginHub {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
}

#loginHub section {
    font-size: xx-large;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#loginValue {
    background-color: #F8F8FF;
    color: black;
    text-align: center;
    font-size: large;
    height: 25px;
    border: none;
    box-shadow: 2.5px 2.5px 1px 1px #009440;
    border-radius: 3px;
}

input {
    font-weight: bolder;
    margin: 0;
    background-color: none;
}

.howTo {
    position: absolute;
    right: 0%;
    top: 0;
    border-radius: 3px;
    box-shadow: 1px 1px 6px 1px;
    font-size: medium;
    z-index: 1;
}

.howTo li {
    border-top: 1px solid;
    padding: 3px;
    display: flex;
    align-items: center;
}

#devolucoes,
#sinais {
    font-weight: bolder;
    font-size: small;
}

#registerHub {
    font-size: x-large;
    border: 1px solid;
    width: max-content;
    padding: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 3px;
    background-color: #F8F8FF;
    z-index: 5;
    box-shadow: 1px 1px 2px 1px #16161D;

}

#registerHub li {
    margin-bottom: 10px;
}

#registerHub input {
    border: 1px solid;
    border-radius: 3px;
    padding: 5px;
}

@media print {
    body {
        background-color: transparent;
    }

    .howTo,
    .becomeSin,
    .becomeDev,
    .becomePix,
    .becomeError,
    #loginHub,
    #registerHub,
    #sangria,
    #qrCheck,
    #sizes,
    #barCheck,
    #barrasValue {
        display: none;
    }

    .etc {
        margin: 0px;
    }

    table,
    th,
    td {
        border: none;
        border-bottom: 1px dashed;
    }

    .sTD {
        border-bottom: 1px dashed !important;
    }

    #cash {
        border-bottom: 1px solid;
    }

    #obsTable section {
        display: none;
    }

    #toolsH2 {
        display: none;
    }

    #filters {
        display: none;
    }

    #obsTable {
        border: none !important;
        box-shadow: none !important;
        left: 0 !important;
        top: 0 !important;
        transform: none !important;
        padding: 0 !important;
    }

    #qrTable {
        text-align: center;
    }

    #obsText {
        border: none !important;
        box-shadow: none !important;
        top: 0 !important;
        position: absolute;
    }

    #barrasTable {
        border: none !important;
        box-shadow: none !important;
        top: 0;
    }

    .barrasTitles {
        border: none;
    }

    ::-webkit-input-placeholder {
        color: transparent;
    }

    .blankValue {
        display: none;
    }

    #etcTitle,
    #dev,
    #sin,
    #pix,
    #error,
    #sangriasTitle {
        border: none;
    }

    #etiquetarTable span {
        display: contents;
    }

    #fontLabel,
    #qrLabel {
        display: none;
    }

    .sVias {
        box-shadow: none !important;
        margin: 0 !important;
    }

    .sVias div {
        border-bottom: 1px dashed !important;
        border-top: none !important;
    }
}

h4 {
    margin: 10px;
}

#saveButton {
    cursor: pointer;
    padding: 6px;
    border: none;
    border-radius: 3px;
    background-color: #009440;
    color: whitesmoke;
    box-shadow: 1px 1px 1px 1px #16161D;
}

.botao {
    cursor: pointer;
    padding: 3px;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #16161D;
    margin: 8px;
    background-color: snow;
}

#cxName {
    cursor: pointer;
    padding: 6px;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #16161D;
}

.error {
    background-color: #d80000 !important;
    color: black !important;
}

#sangria {
    top: 1%;
    text-align: center;
    font-size: larger;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    outline: 1px solid #16161D;
    border-radius: 3px;
    padding: 2%;
    background-color: #F8F8FF;
    z-index: 4;
    box-shadow: 2px 2px 3px 1px #16161D;
    width: 71mm;
    word-wrap: break-word;
    justify-content: center;
}

#sangriaTable {
    position: absolute;
    max-width: 71mm;
}

#sangriasUL {
    padding: 0%;
    width: 100%;
    word-wrap: break-word;
    max-width: 71mm;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#sangriasUL li {
    border: 1px solid;
    font-size: large;
    margin: 6px;
    width: max-content;
    border-radius: 3px;
    padding: 3px;
    margin-top: 8px;
}

#sangriaEdit,
#sangriaVias {
    padding: 0;
}

#sangriaEdit {
    justify-content: center;
}

#sangriaEdit button {
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #16161D;
    border-radius: 3px;
    background-color: #d80000;
    color: white
}

#sangriaEdit li {
    box-shadow: 1px 1px 2px 1px #16161D;
    margin: 6px;
    padding: 6px;
    border-radius: 3px;
    width: max-content;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
}

#obsText {
    max-width: 71mm;
    width: 71mm;
    height: max-content;
    z-index: 6;
    margin-top: 6px;
    border: 1px solid;
    background-color: #F8F8FF;
    border-radius: 3px;
}

#qrTable {
    width: 71mm;
    border-radius: 3px;
}

#barrasTable {
    width: 71mm;
    max-width: 71mm;
    text-align: center;
    z-index: 7;
    border-radius: 3px;
}

#barrasElements {
    max-width: 71mm;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

#barrasElements li {
    border: 1px solid;
    margin: 2px;
}

.barrasTitles {
    width: 30mm;
    text-align: center;
}

#showSum {
    text-align: left;
    word-wrap: break-word;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.fer {
    width: 18mm;
    border-radius: 3px;
    margin-top: 3px;
}

#stuffs,
#stuffs10,
#stuffs20,
#stuffs50_100_200 {
    border: 1px solid;
    border-radius: 3px;
}

/*
.arrow::before {
    content: "⥊";
    margin-left: 3px;
}
    */

.arrow {
    width: max-content;
    max-width: 85%;
}

.sTD {
    font-size: larger;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3px;
    margin-right: 3px;
    border: none;
    border-bottom: 1px solid;
}

#cash,
#etcTitle,
#dev,
#sin,
#pix,
#error #sangriasTitle {
    word-wrap: break-word;
}

.lastChange {
    display: flex;
    background-color: #d80000 !important;
    z-index: 8 !important;
    color: white;
    border: 1px solid black;
    border-radius: 3px;
}


#obsTable {
    border: 1px solid;
    width: max-content;
    padding: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 3px;
    background-color: #F8F8FF;
    z-index: 5;
    box-shadow: 1px 1px 2px 1px #009440;
    text-align: center;
}

#obsTable section {
    border: none;
    margin-top: 10px;
    padding: 6px;
    width: max-content;
    text-align: center;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #16161D;
}

#obsTable button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#obsTable a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#obsTable h2 {
    padding: 6px;
    border-radius: 3px;
    width: max-content;
}

#etiquetar li {
    padding: 15px;
    border: 1px solid;
    border-radius: 3px;
}

#etiquetar input {
    font-size: large;
}

.tempInput {
    text-align: center;
    width: 55px;
    font-size: small;
    margin: 1px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid;
    border-radius: 3px;
    max-width: 95%;
}

.sVias {
    border: 1px solid;
    margin-bottom: 15px;
    border: none;
    max-width: 71mm;
    box-shadow: 1px 1px 2px 1px #16161D;
    width: 71mm;
    border-radius: 1px;
    background-color: #F8F8FF;
}

.sVias span {
    display: inline-block;
    padding: 6px;
    border: 1px solid;
    border-radius: 3px;
    margin: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.sVias div {
    border-top: 1px solid;
    padding-bottom: 6px;
}

#printerSettings {
    position: absolute;
    border-radius: 3px;
    right: 0%;
    bottom: 0;
    border-radius: 3px;
    font-size: x-small;
    z-index: 3;
    background-color: #F8F8FF;
    padding: 6px;
}

#sangriaViasTable {
    text-align: center;
    display: flex;
    justify-content: left;
}

#sangriaViasTable div {
    padding: 0;
    margin: 0;
    box-shadow: none;
}

#filters {
    width: max-content;
    position: fixed;
    left: 72mm;
    font-size: large;
    z-index: 6;
    background-color: #F8F8FF;
    transform: translateY(-50%);
    top: 35%;
}

#filters li {
    margin-top: 5px;
    width: max-content;
    display: flex;
    align-items: center;
}

.keyIcons {
    width: 50px;
}

.keyIconsSmall {
    width: 45px;
}