*{
    font-family: monospace;
}
table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 50%;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #009440;
    color: whitesmoke;
}